{{ attach_library('flatpickr_datepicker/flatpickr_front') }}
{% set display_layout = other_data.display_layout %}
	{% if display_layout == 'calendar_view' %}
		<div class="flatpickr-datepicker-calendar-inline">
			<div class="flatpickr-datepicker-calendar" data-number-of-months="{{ other_data.number_of_months }}" data-type="{{ other_data.calendar_type }}" data-dates="{{ flatpickr_datepicker }}">
			</div>
		</div>
	{% else %}
		{% if display_layout == 'comma_separated' %}
			{{ other_data.formatted_dates|raw }}
		{% else %}
			<ul class="flatpickr-datepicker-listing">
				{% for k, item in other_data.formatted_dates %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endif %}